# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
*.env
src/.env
config/.env

# Dist / build
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
log.txt

# Cache
.cache/
.tmp/

# IDE settings
.vscode/
.idea/

# Optional
.env.local
.env.development
.env.production
